@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@media (min-width: 480px){
*{
    font-family: "Bell MT";
    margin: 0px;
}

html {
    background-image: url(../images/380blackandwhite.jpg);
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin-bottom: 0px;
}

#logo {
    width: 100px;
    float: left;
}

header {
    background-color: #414141;
    background-image: url(../images/background.jpg);
    text-align: center;
    padding: 2.5em 1.5em .5em 4em;
    margin: 0em;
    overflow: hidden;
}

#title, #motto {
    color: white;
}

#hero {
    width: 80%;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 48px;

}

header p {
    font-family: "Indie Flower";
    font-size: 12px;
    padding-bottom: .5em;
    margin: 0px;
}

nav {
    clear: both;
    font-size: 16px;
    margin-top: 0em;
    background-color: #565656;
}

nav a:link {color:#fff;}
nav a:visited {color:#fff;}
nav a:focus {background-color: #888;}
nav a:hover {background-color: #888;;}
nav a:active {background-color: #888;}

nav ul{
    display: flex;
}

nav li {
    text-align: center;
    display: block;
    min-width: 16%;
    margin: 5px;
}

#current{
    background-color: #888;
}

#navmenu{
    display: none;
}

main{
    max-width: 75%;
    margin: auto;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: #414141;
    font-size: 30px;
}

h2 {
    padding: 0px;
    margin: 0px;
    color: #000;
    font-size: 25px;
    margin-bottom: 3px;
}

h3 {
    color: #333;
    font-size: 20px;
}

p {
    color: #000;
    font-size: 16px;
}

article {
    background-color: #888;
    padding: .5em 2em;
    margin: 1em 5%;
    opacity: .8;
}

article figure img {
    display: block;
    width: 80%;
    padding: 0, auto, 45px;
    margin: 45px;
}

footer {
    display: block;
    margin: 10px auto 0;
    background-color: #5e5e5e;
    color: white;
    font-size: 12px;
    max-width: 800px;
}

footer a:link {color:#fff;}
footer a:visited {color:#fff;}
footer a:focus {background-color: #888;}
footer a:hover {background-color: #888;}
footer a:active {background-color: #888;}

footer section {
    margin: 5px 20px;
}
#map {
    float:left;
    max-width: 60%;
}

#contactInfo {
    float:right;
}

#copyright {
    clear:both;
    text-align: center;
}

}