@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Mansalva);

:root {
    --powderblue: #19BAFF;
    --navy: #000022;
    --blue: #001242;
    --aqmarine: #00BD9D;
    --skyblue: #0094C6;
    background-color: var(--skyblue);
}

*{
    font-family: "Montserrat";
    margin: 0px;
}

img {
    background: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#logo {
    float: left;
}

header {
    background-color: var(--powderblue);
    text-align: center;
    padding: 2.5em 1.5em .5em 4em;
    margin: 0em;
    overflow: hidden;
}

#title, #motto {
    color: white;
}

header p {
    font-size: 12px;
}

nav {
    clear: both;
    font-size: 16px;
    margin-top: 0em;
    background-color: var(--navy);
}

.navigation {
    display: block;
    padding: 0;
}
nav a:link, nav a:visited {color:#fff;}
nav a:focus, nav a:hover, nav a:active {background-color: var(--aqmarine);}

#current {
    background-color: var(--aqmarine);
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    text-align: center;
    display: block;
    width: 100%;
    font-family: "Mansalva";
    text-decoration: none;
    font-size: 20px;
}

.responsive li {
    display: block;
}

h1, h2, h3 {
    font-family: "Mansalva";
}

h1 {
    color: white;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

h2, h3 {
    color: var(--navy);
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    margin-bottom: 4px;
}

p {
    color: #000;
    font-size: 16px;
}

article {
    background-color: var(--powderblue);
    padding: .5em 2em;
    margin: 1em 5%;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    margin: 10px auto 0;
    background-color: var(--navy);
    color: white;
    font-size: 12px;
    width: 100%;
}

footer a:link {color:#fff;}
footer a:visited {color:#fff;}
footer a:focus {background-color: #888;}
footer a:hover {background-color: #888;}
footer a:active {background-color: #888;}

footer section {
    margin: 5px 20px;
}

#copyright {
    clear:both;
    text-align: center;
}

#copyright p{
    color:var(--powderblue);
}