@media only screen and (min-width: 60em) {

	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	#page-heading {
		margin: 1em 0;
	}
	
	.weather-and-hero {
		background-image: url('../images/cloudsLarge.jpg');
		height: 400px;
		max-width: 1200px;
		margin: auto;
	}

    article, footer {
        max-width: 1200px;
	}
	
	.article-image {
		float: right;
		padding: 8px;
	}
}